Thumbs.db
*.jar
build/
bin/
.gradle
gameLog*.txt
#Files generated for eclipse can be generated on download via gradle eclipse
#Also, current classpath generated is specific to current machine
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
